{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}
{% block monType %}Administration des types{% endblock %}
{% block body %}
<div class="container">
    <a href="" class="btn btn-info m-4 p-2" style="width: 30%">Ajouter</a>
    <table class="table text-center">
        <tr class="table-info">
            <th>Image</th>
            <th>Libelle</th>
            <th>Actions</th>
        </tr>
        {% for type in types %}

        <tr>
            <td>
                <img src="{{asset("images/types/" ~ type.image)}}" class="perso_imgAlimentAdmin">
            </td>
            <td>{{ type.libelle}}</td>
            <td>
                <a href="" class="btn btn-warning">Modifier</a>
                <a href="" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}

    </table>
   

        
</div>

{% endblock %}
