{% extends 'base.html.twig' %}

{% block title %}ERROR 404{% endblock %}
{% block monTitre %}
PAGE NO FOUND
{% endblock %}

{% block body %}
 <div class="container">
      <h1 class="m-5 p-5 bg-danger text-white text-center">I WISH YOU A GOOD DAY !!</h1>
      <h4 class="bg-info m-5 p-5 text-white text-center">La page demandée n'existe pas</h4>
 </div>
{% endblock %}